@model NguyenPhanHuy_2122110062.Models.Category

<div class="card mt-5">
    <div class="card-body">
        <h4>@Html.DisplayFor(model => model.Title)</h4>
        <hr />
        <div class="rowed">
            <div class="col-md-7 border p-3" style="border-radius:20px;">
                <h6 class="border-bottom pb--10">Category information</h6>
                <div class="mt-4">
                    <div class="form-group">
                        <label for="example-text-input" class="col-form-label">@Html.DisplayNameFor(model => model.Title)</label>
                        <input class="form-control bg-transparent" disabled type="text" value="@Html.DisplayFor(model => model.Title)" id="example-text-input">
                    </div>

                    <div class="form-group">
                        <label for="example-text-input" class="col-form-label">@Html.DisplayNameFor(model => model.Slug)</label>
                        <input class="form-control bg-transparent" disabled type="text" value="@Html.DisplayFor(model => model.Slug)" id="example-text-input">
                    </div>

                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">@Html.DisplayNameFor(model => model.ParentId)</label>
                                <input class="form-control bg-transparent" disabled type="text" value="@Html.DisplayFor(model => model.ParentId)" id="example-text-input">
                            </div>

                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">@Html.DisplayNameFor(model => model.CreatedAt)</label>
                                <input class="form-control bg-transparent" disabled type="text" value="@Html.DisplayFor(model => model.CreatedAt)" id="example-text-input">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">@Html.DisplayNameFor(model => model.UpdatedAt)</label>
                                <input class="form-control bg-transparent" disabled type="text" value="@Html.DisplayFor(model => model.UpdatedAt)" id="example-text-input">
                            </div>
                            <div class="form-group">
                                <label for="example-text-input" class="col-form-label">@Html.DisplayNameFor(model => model.Status)</label>
                                <div class="form-control">@Html.DisplayFor(model => model.Status)</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-4 border p-3" style="border-radius:20px">
                <h6 class="border-bottom pb--10">Media</h6>
                <div class="mt-4">
                    <div class="form-group">
                        <label class="col-form-label">@Html.DisplayNameFor(model => model.ImageUrl)</label>
                        <input type="image" accept="image/*" class="form-control" style="width:150px; height:150px" src="~/Content/images/Category/@Model.ImageUrl" />
                    </div>
                </div>
            </div>
        </div>
        <hr />

        <div class="row m-0 p-0">
            <div class="col-md-1">
                <a href="@Url.Action("Edit", "Category", new {id=Model.CategoryId})" class="btn btn-sm btn-primary"><i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</a>
            </div>
            <div class="col-md-1">
                <a href="@Url.Action("Index", "Category")" class="btn btn-sm btn-light"><i class="fa fa-angle-left" aria-hidden="true"></i> Back</a>
            </div>
        </div>
    </div>
</div>