@model IEnumerable<NguyenPhanHuy_2122110062.Models.Category>

@{
    ViewBag.Title = "Category";
    ViewBag.Menu = "Category";
}

@if (TempData["success"] != null)
{
    <input type="hidden" id="success" value="@TempData["success"]" />
}

@if (TempData["error"] != null)
{
    <input type="hidden" id="error" value="@TempData["error"]" />
}


<!-- data table start -->
<div class="col-12 mt-5">
    <div class="card">
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <h4 class="header-title">Data Table Default</h4>
                </div>
                <div class="col-md-6 text-right">
                    <a href="@Url.Action("Create", "Category", new {area="Admin"})" class="btn btn-xs btn-primary">Created</a>
                </div>
            </div>
            <div class="data-tables">
                <table id="dataTable" class="text-center">
                    <thead class="bg-light text-capitalize">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.Title)</th>
                            <th>@Html.DisplayNameFor(model => model.Slug)</th>
                            <th>@Html.DisplayNameFor(model => model.ParentId)</th>
                            <th>@Html.DisplayNameFor(model => model.ImageUrl)</th>
                            <th>@Html.DisplayNameFor(model => model.Status)</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Title)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.Slug)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.ParentId)
                                </td>
                                <td>
                                    <img style="width:40px; height:40px; border-radius:100px" src="~/Content/images/Category/@item.ImageUrl" alt="@item.ImageUrl" />
                                </td>
                                <td>
                                    <button class="bg-transparent border-0">
                                        @Ajax.ActionLink(
                                            item.Status == true ? "Active" : "Inactive",
                                            "Status",
                                            new { Area = "Admin", id = item.CategoryId, status = !item.Status },
                                            new AjaxOptions
                                            {
                                                HttpMethod = "POST",
                                                OnSuccess = "success"
                                            },
                                            new { @class = item.Status == true ? "text-success" : "text-danger", id = "status-" + item.CategoryId }
                                        )

                                    </button>
                                </td>
                                <td>
                                    <a class="text-info tooltip" style="font-size:20px" href="@Url.Action("Edit", "Category", new {id=item.CategoryId})">
                                        <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                                    </a>
                                    <a class="text-success mx-2 tooltip" style="font-size:20px" href="@Url.Action("Details", "Category", new {id=item.CategoryId})">
                                        <i class="fa fa-info" aria-hidden="true"></i>
                                    </a>
                                    <a class="text-danger tooltip" style="font-size:20px" href="javascript:void(0)" onclick="confirmSoftDelete(@item.CategoryId)">
                                        <i class="fa fa-trash-o" aria-hidden="true"></i>
                                    </a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<!-- data table end -->

<script>
    function confirmSoftDelete(categoryId) {
        const urlTemplate = '@Url.Action("SoftDelete", "Category", new { area = "Admin", id = "id" })';
        const url = urlTemplate.replace("id", categoryId);

        Swal.fire({
            title: 'Bạn có chắc chắn muốn xóa?',
            text: "Thao tác này không thể hoàn tác!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Xóa',
            cancelButtonText: 'Hủy'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = url;
            }
        });
    }
</script>
